@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather&display=swap");

.App {
  margin: 22px;
  color: white;
}

.footer {
  color: black;
}

.ttl-nav {
  font-size: 20px;
}

.styled-input {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
}

.styled-search {
  padding-top: 10px;
}