@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather&display=swap");

.App {
  margin: 31px;
  color: white;
}

.footer {
  color: black;
}

.ttl-nav {
  font-size: 80px;
}

.styled-input {
  padding: 20px;
  font-size: 24;
  text-align: center;
}